# "Predict whether an applicant is eligible for a loan "

In [1]:
import os
import numpy as np
import pandas as pd

## Load dataset and preview
The cell below reads `Loan Eligibility Prediction.csv` into a pandas DataFrame and shows the first few rows.

In [2]:
# Load the CSV (file is in the notebook directory)
csv_path = 'Loan Eligibility Prediction.csv'
df = pd.read_csv(csv_path)
print('DataFrame shape:', df.shape)
df.head()

DataFrame shape: (614, 13)

,Customer_ID,Gender,Married,Dependents,Education,Self_Employed,Applicant_Income,Coapplicant_Income,Loan_Amount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,569,Female,No,0,Graduate,No,2378,0.0,9,360,1,Urban,N
1,15,Male,Yes,2,Graduate,No,1299,1086.0,17,120,1,Urban,Y
2,95,Male,No,0,Not Graduate,No,3620,0.0,25,120,1,Semiurban,Y
3,134,Male,Yes,0,Graduate,Yes,3459,0.0,25,120,1,Semiurban,Y
4,556,Male,Yes,1,Graduate,No,5468,1032.0,26,360,1,Semiurban,Y